* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

html {
	--primary: #61dafb;
	--background: #282c34;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	color: var(--primary);
}

.App {
	/* text-align: center; */
	height: 100vh;
	overflow-y: scroll;
	background-color: var(--background);
	color: white;
}
/* 
.App-logo {
	height: 100px;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
} */

/* .App-header {
	background-color: #282c34;
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
} */

/* HEADER */
.header__nav {
	margin-left: 1rem;
}

.header__nav li {
	display: inline-block;
	margin-left: 0;
	padding: 0.5rem;
	font-size: 1rem;
	color: white;
}
